<!--Introduction-->
<section id="about" class="introduction scrollto">

    <div class="row clearfix">

        <div class="col-3">
            <div class="section-heading">
                <h3>Why DDC?</h3>
                <h2 class="section-title">What We Do</h2>
                <p class="section-subtitle">DDC takes the Infrastructure and Networks services make upgrading technology easier than ever. We
                    will work with you to assess your needs, create a cost effective strategy, specify and procure
                    hardware and software, advise on the best software licensing strategy, deploy the solution and
                    assist with onboarding your team.</p>
            </div>

        </div>

        <div class="col-2-3">

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-desktop fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>PROVEN EXPERTISE</h4>
                    <p>Over 22 years of domain experience and service excellence makes us best in the region to be your
                        preferred technology partner.
                    </p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-bolt fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>WE OFFER THE BEST</h4>
                    <p>We offer advanced technology, robust infrastructure, large pool of talents and proven global
                        delivery standards.</p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-tablet fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>EXPERT SUPPORT</h4>
                    <p>We have a competent pool of certified & experienced in-house engineers, to provide 24 / 7 support
                        to our esteemed customer base.
                    </p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.5s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-rocket fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>OUR PARTNERS</h4>
                    <p>OUR PARTNERS Over the years we have acquired strategic partnership with leading technology vendors
                        across the globe in different technology verticals.
                    </p>
                </div>
            </div>
            <!--End of Icon Block-->

        </div>

    </div>


</section>
<!--End of Introduction-->