    <!--Banner Content-->
    <div id="banner-content" class="row clearfix">

        <div class="col-38">

            <div class="section-heading">
                <h1>We DELIVER
                    <strong> SMART,</strong>
                </h1>
                <h2>HIGH-PERFORMING SOLUTIONS THAT ARE FUNCTIONAL BY DESIGN.</h2>
            </div>

            <!--Call to Action-->
            <a href="#" class="button">Connect with Us</a>
            <!--End Call to Action-->

        </div>

    </div>
    <!--End of Row-->